<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/footer.css" />
  </head>
  <body>
    <footer>
      <div class="container footer__wrapper ">
        <div class="footer__subtitle">Have a project in mind?</div>
        <div class="footer__title">Let’s create something awesome.</div>
        <button class="footer-btn">
          Apply for grant <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
      <div class="footer__inner container">
        <ul class="footer__list">
          <li>
            <a href="./index.html" class="footer-link">
              <img src="../img/footer-logo.png" alt="footer-Xlogo" />
            </a>
          </li>
          <li><a href="#" class="nav-link">About </a></li>
          <li><a href="#" class="nav-link">FAQ</a></li>
          <li><a href="#" class="nav-link">Brand assets</a></li>
          <li><a href="#" class="nav-link">dYdX Foundation</a></li>
          <li><a href="#" class="nav-link">dYdX trading</a></li>
        </ul>
        <div class="footer__icon">
          <i class="fab fa-twitter"></i>
          <i class="fab fa-discord"></i>
        </div>
      </div>
    </footer>
  </body>
</html>
